<h1>Login</h1>
<%= form_for :session, url: sessions_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>








<!-- <h1>Login</h1>
<form action='sessions_path'>
  <label>Username: <input type="text" name="user[name]" placeholder="username"></label><br>
  <label>Password: <input type="password" name="user[password]" placeholder="password"></label><br>
  <input type="submit" value="Login">
</form>
 -->
