<h1>Submit a new post</h1>

<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.url_field :url %>
  </p>

  <p>
    <%= f.submit "Create Post" %>
  </p>
<% end %>
